/* Look up how flex boxes work */
/* This is how I learned to use it well */
/* https://flexboxfroggy.com/ */

.jaden-section {
    display: flex;
    flex-direction: column;
    width: 50rem;
    text-align: center;
}

/* This creates the animation when you hover over the section */
.jaden-section h2 {
    color: rgb(84, 25, 221);
    transition: transform 0.4s ease;
}

/* Notice that the hover is assocated with the section and not the header */
/* This makes it so that the h2 is transformed when the section is hovered, */
/*  not just when the header is hovered */
.jaden-section:hover  h2 {
    transform: scale(3, 3);
    transition: transform 0.4s ease;
}
