.wesley-section {
    display: flex;
    flex-direction: column;

    width: fit-content;
}

.wesley-section h2 {
    color: rgb(255, 147, 147);
    transition: transform 0.4s ease;
}

.wesley-section:hover  h2 {
    transform: rotate(180deg);
    transition: transform 0.4s ease;
}