/* Define section, container, and heading settings so that they are consistent across the entire project */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}

h2 {
  font-size: 2rem;
  line-height: 1.2;
}

